*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: transparent;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: clamp(375px, 100%, 462px);
    height: max-content;
    margin: 0 auto;
}
a, a:active{
    color: #33b1e5;
    font-weight: 600;
}

footer{
    width: clamp(375px, 100%, 462px);
    display: flex;
    align-items: center;
    flex-direction: column;
}
img{
    width: 462px;
    height: 109px;
}
p{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    text-align: center;
}
